root {
	-fx-background-color:"black";
}

#background {
	-fx-background-color:"#454545";
}

#map {
	-fx-background-color: "#2A2A2A";
	-fx-background-radius: 32;
}

#options{
	-fx-background-color: "#2A2A2A";
	-fx-background-radius: 22;
}

#buttons {
	-fx-background-color: "#2A2A2A";
	-fx-background-radius: 32;
}

#nodeHandlerPanel {
	-fx-background-color: "2A2A2A";
	-fx-background-radius: 32;
}

#priorityPanel {
	-fx-background-color: "2A2A2A";
	-fx-background-radius: 32;
}

#algorithmPanel {
	-fx-background-color: "2A2A2A";
	-fx-background-radius: 32;
}

#tripPanel {
	-fx-background-color: "2A2A2A";
	-fx-background-radius: 32;
}

#deletePanel {
	-fx-background-color: "2A2A2A";
	-fx-background-radius: 32;
}

#deleteRoutePanel {
	-fx-background-color: "2A2A2A";
	-fx-background-radius: 32;
}

#addNodeBtn {
	-fx-background-color: linear-gradient(from 90% 100% to 10% 0%, #eecbf1 5.0%, #efa8e5 15.0%, #f372ef 60.0%);
	-fx-font-size: 20;
	-fx-background-radius: 16;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

#deleteBtn {
	-fx-background-color: linear-gradient(from 90% 100% to 10% 0%, #f1cbd6 5.0%, #efa8b9 15.0%, #f3728a 60.0%);
	-fx-font-size: 20;
	-fx-background-radius: 16;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

#saveBtn {
	-fx-background-color: linear-gradient(from 90% 100% to 10% 0%, #d6f1cb 5.0%, #bcefa8 15.0%, #8af372 60.0%);
	-fx-font-size: 20;
	-fx-background-radius: 16;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

#tripPanel .button {
	-fx-background-color: linear-gradient(from 90% 100% to 10% 0%, #eecbf1 5.0%, #efa8e5 15.0%, #f372ef 60.0%);
	-fx-font-size: 20;
	-fx-background-radius: 16;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

#nodeHandlerPanel .button {
	-fx-background-color: linear-gradient(from 90% 100% to 10% 0%, #eecbf1 5.0%, #efa8e5 15.0%, #f372ef 60.0%);
	-fx-font-size: 20;
	-fx-background-radius: 16;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

#algorithmPanel .button {
	-fx-background-color: linear-gradient(from 90% 100% to 10% 0%, #eecbf1 5.0%, #efa8e5 15.0%, #f372ef 60.0%);
	-fx-font-size: 20;
	-fx-background-radius: 16;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

#priorityPanel .button {
	-fx-background-color: linear-gradient(from 90% 100% to 10% 0%, #eecbf1 5.0%, #efa8e5 15.0%, #f372ef 60.0%);
	-fx-font-size: 20;
	-fx-background-radius: 16;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

#deletePanel .button {
	-fx-background-color: linear-gradient(from 90% 100% to 10% 0%, #eecbf1 5.0%, #efa8e5 15.0%, #f372ef 60.0%);
	-fx-font-size: 20;
	-fx-background-radius: 16;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}