root {
	-fx-background-color:"black";
}

#background {
	-fx-background-color:"#454545";
}

#map {
	-fx-background-color: "#2A2A2A";
	-fx-background-radius: 32;
}

#options{
	-fx-background-color: "#2A2A2A";
	-fx-background-radius: 22;
}

#buttons {
	-fx-background-color: "#2A2A2A";
	-fx-background-radius: 32;
}

#nodeHandlerPanel {
	-fx-background-color: "2A2A2A";
	-fx-background-radius: 32;
}

#priorityPanel {
	-fx-background-color: "2A2A2A";
	-fx-background-radius: 32;
}

#algorithmPanel {
	-fx-background-color: "2A2A2A";
	-fx-background-radius: 32;
}

#tripPanel {
	-fx-background-color: "2A2A2A";
	-fx-background-radius: 32;
}

#deletePanel {
	-fx-background-color: "2A2A2A";
	-fx-background-radius: 32;
}

#deleteRoutePanel {
	-fx-background-color: "2A2A2A";
	-fx-background-radius: 32;
}