.root {
	-fx-background-color:"black"
}

#background {
	-fx-background-color:"#454545"
}

#sidebar {
	-fx-background-color: #2A2A2A;
	-fx-background-radius: 32;
}

#sidebar Button {
	-fx-background-color: rgba(0, 0, 0, 0);
}

#actionButtons {
	-fx-background-color: #2A2A2A;
	-fx-background-radius: 32;
}

#history {
	-fx-background-color: #2A2A2A;
	-fx-background-radius: 32;
}

#generalInfo {
	-fx-background-color: #2A2A2A;
	-fx-background-radius: 32;
}

#actionButtons Button {
	-fx-background-radius: 16

}

#createButton {
	-fx-background-color: linear-gradient(from 90% 100% to 10% 0%, #ecd6d6 29.76%, #eac1c1 32.19%, #e6a6a6 34.29%, #e38787 36.53%, #E22B2B 36.62%, #FF4D4D 96.47%);

}

#listButton {
	-fx-background-color: linear-gradient(from 90% 100% to 10% 0%, #d7ddee 29.76%, #c0ccee 32.19%, #aebeed 34.29%, #87a0ea 36.53%, #2355EA 36.62%, #627EFA  96.47%);

}

#stadisticsButton {
	-fx-background-color: linear-gradient(from 90% 100% to 10% 0%, #dff9df 29.76%, #cef3ce 32.19%, #b3eab3 34.29%, #91e991 36.53%, #17CB17 36.62%, #45D845 96.47%);

}

#history {
	-fx-background-color: "#2A2A2A";
	-fx-background-radius: 32;
}