#anchor{
    -fx-background-color: "#454545";
}

#background {
    -fx-background-color:"#2A2A2A";
    -fx-background-radius: 22;
}

#buttons {
    -fx-background-color: "#2A2A2A";
    -fx-background-radius: 32;
}

.label {
    -fx-text-fill: white;
}